 
 
.dm-sans-font-text {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:200;
  font-style: normal;
}
.dm-sans-font-title {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}
 body{
    transition: background-color 1s ease;
 }
.text-title{
  color: #B0B0B0;
}
.text-title-read{
  color: #6C6C6C;
}
.text-paragraph{
  color: #9E9E9E;
}
.text-paragraph-read{
  color: #708090;
}
.text-main{
  color: #58bcff;
}
 
.bg-dirty{
  background-color: 	#eae7e6 !important;
}

.bg-html{
   color: #e44c24 !important;
}
.bg-css{
   color: #214ce5 !important;
}
.bg-figma{
  color: rgb(255,114,98) !important;
 
}
.bg-bootstrap{
   color:  #7511f6!important;
}
.bg-php{
   color:   #777bb3 !important;
}
.bg-mysql{
color: rgb(0,97,138) !important;
 
}
.bg-laravel{
  color: #fb503b;
}

.bg-java{
color: #4d7997 !important;
 
}
.bg-c{
  color: #8b73e3 !important;
 
}
 
.cursor-pointer{
  cursor:pointer;
}
 
.bg-gradient1{
background: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.bg-gradient2{
background: linear-gradient(to top, #537895 100%, transparent 0%);
}

 .text-gradient{
  color:#e7eaf6;
}
.hover-link {
   transition: color 0.3s ease-in;
 
   color:#9E9E9E;
}
.hover-link:hover{
  color:#58bcff;  
}
#Main svg:hover {
  fill: #58bcff;
}

/*  */
.wrapper-star{
 position: fixed;
 z-index: -9999;
}

 
.hover{
  transition:   .5s ease-in-out;
  padding: 1em;
}
.color-gray{
  background-color: rgba(177, 177, 177, 0.3);  
  border-radius: 5px;    
}
.hover:hover{
  background-color: rgba(177, 177, 177, 0.3);  
   border-radius: 5px;    
}
.custom-container{
  background-color: rgba(0, 0, 0,  .3); padding:10px; border-radius: 5px; border: 3px solid black; margin-top:10px; margin-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}